.navbar {
    background-color: #8a2be2; /* Purple color */
  }
  
  .navbar-custom .navbar-nav .nav-link {
    color: #fff; /* White color */
  }
  
  .navbar-custom .navbar-nav .nav-link:hover {
    background-color: #6a1b9a; /* Darker purple color on hover */
  }
  